* {
  margin: 0;
  padding: 0;
}
.fixed {
  position: sticky;
  top: 0;
  z-index: 10;
}
.header_container {
  display: flex;
  gap: 10px;
  background-color: #1a1a1a;
  color: #fff;
  height: 70px;
  align-items: center;
}
.logo_container {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
.logo_container img {
  width: 80%;
  padding-top: 15px;
  margin-left: 20px;
  vertical-align: middle;
}
.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: bold; 
  width: 120px;
}

.delivery p {
  font-size: 16px;
  color: #c0c0c0;
  padding: 0;
  margin: 0;
}
.delivery span {
  font-size: 18px;
  font-weight: bolder;
}

.search {
  display: flex;
  height: 50px;
  /* align-items: center; */
  border: 2px solid #febd69;
  border-radius: 4px;
  overflow: hidden;
  flex: 1;
  min-width: 700px;
  background-color: white;
}

.search select {
  padding: 8px;
  border: none;
  background: #f1efef;
  font-size: 14px;
  outline: none;
  width: 58px;
}
.search select:hover {
  background-color: #D4D4D4;
}


.search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  
}

.search span {
  padding: 8px 12px;
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




a {
  text-decoration: none !important;
  color: #fff !important;
}
.order_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 550px;
}
.order_container p {
  font-size: 12px;
}
.language {
  width: 100px;
  display: flex;
  padding: 10px;
  margin-top: 12px;
 
}
.language img {
  width: 40%;
  margin-right: 5px;
}
.language select {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 0;
}
.language svg {
  background-color: #858484;
}
.account p, .order p {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
 
}
.account span, .order span{
  font-size: 20px;
}
.cart {
  position: relative;
  display: flex;
  align-items: end;
}

.cart span {
  position: absolute;
  top: 0;
  font-size: 28px;
  left: 14px;
  background-color: #1a1a1a;
  color: #ffb04b;
}
.cart p {
  font-weight: bold;
  font-size: 18px;
}
.cartText {
  margin-top: 20px;
}

.logo_container a:hover,
.language:hover,
.order_container a:hover,
.Lower_container ul li:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}

/* Lower Header Style Start Here */
.Lower_container {
  background-color: #253141;
  color: #fff;
 
}
.Lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
  margin-bottom: 0;
}
.Lower_container ul li {
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.Lower_container ul li:first-child {
  display: flex;
  gap: 2px;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .header_container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .Lower_container ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}
