.catagory {
  height: 350px;
  width: 330px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catagory img {
  width: 100%;
  height: 250px;
  margin-left: 10px;
  object-fit: contain;
  padding: 0 10px;
}
.catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.catagory h2,
.catagory p {
  padding: 5px;
  margin-left: 15px;
}
.catagory h2 {
  width: 90%;
  font-size: 26px;
  color: #000;
  font-weight: bold;
  padding: 10px;
}
.catagory p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
  /* margin-bottom: 5px; */
}

/* catagory styling */
.catagory_container {
  position: relative;
  margin-top: -20%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* use auto instead of scroll for better UX */
  gap: 20px;
  padding: 10px 0; /* optional: space around items */
  scroll-behavior: smooth;
  /* margin-right: 20px; */
}
.catagory_container::-webkit-scrollbar {
  display: none; /* hides scrollbar in WebKit browsers */
}

.inner_wrapper {
  display: flex;
  justify-content:  center;
}

@media screen and (max-width: 760px) {
  /* Your mobile styles go here */
  .inner_wrapper {
   margin-left: 10px;
  }
}